/*breakpoint argument choises:
- phone
- tab-port
- tab-land
- big-desktop
*/
html {
  /* Using percentages to allow user settings of accecibility, 62.5% = 10px if the user didn't change the default font size */
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  background: linear-gradient(45deg, #ff3366, #ba265d);
  min-height: 100vh; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: #fff; }

::-webkit-scrollbar {
  width: 1rem;
  background-color: #fff;
  border-radius: 1rem; }

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.1);
  background-color: #f4f2f2; }

::selection {
  background-color: #eb2f64;
  color: #fff; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    text-shadow: none; }
  50% {
    transform: scale(1.1);
    text-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    text-shadow: none; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  border-radius: 50rem;
  background: linear-gradient(to right, #ba265d, #ff3366);
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .btn__visible, .btn__invisible {
    display: inline-block;
    transition: all 0.2s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    padding: 2rem 0;
    position: absolute;
    left: 0;
    top: -100%;
    height: 100%;
    width: 100%; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn--inline {
    border: none;
    background-color: transparent;
    color: #eb2f64;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 0.2rem;
    cursor: pointer;
    transition: all 0.2s; }
    .btn--inline span {
      margin-left: 0.3rem;
      transition: margin-left 0.2s; }
    .btn--inline:hover {
      color: #333; }
      .btn--inline:hover span {
        margin-left: 0.8rem; }
    .btn--inline:focus {
      outline: none;
      animation: pulsate 1s infinite; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f4f2f2; }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1.5rem 3rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: #eb2f64; }
  .overview__location {
    display: flex;
    font-size: 1.2rem;
    vertical-align: center; }
  .overview__icon-location {
    margin-right: 0.5rem; }
  .overview__rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: stretch;
    background-color: #eb2f64;
    color: #fff;
    margin-left: 3rem;
    padding: 0 2rem; }
    .overview__rating-average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -0.3rem; }
    .overview__rating-count {
      font-size: 0.8rem;
      text-transform: uppercase; }

.detail__paragraph:not(:last-of-type) {
  margin-bottom: 1rem; }

.detail .list {
  margin: 3rem 0;
  list-style: none;
  padding: 3rem;
  border-top: 1px solid #f4f2f2;
  border-bottom: 1px solid #f4f2f2;
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 75em) {
    .detail .list {
      padding: 1.5rem; } }
  .detail .list__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
    align-items: center;
    display: flex;
    line-height: 1.4rem; }
    .detail .list__item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.7rem;
      background-size: cover;
      background-image: url(../../img/chevron-thin-right.svg); }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .detail .list__item::before {
          -webkit-mask-image: url(../../img/chevron-thin-right.svg);
          mask-image: url(../../img/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          mask-size: cover;
          background-color: #eb2f64;
          background-image: none; } }

.detail .recommend {
  font-size: 1.3rem;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .detail .recommend__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50rem;
    border: 3px solid #fff;
    box-sizing: content-box; }
    @media only screen and (max-width: 75em) {
      .detail .recommend__photo {
        height: 3rem;
        width: 3rem; } }
    .detail .recommend__photo:not(:first-child) {
      margin-left: -1.5rem; }
      @media only screen and (max-width: 75em) {
        .detail .recommend__photo:not(:first-child) {
          margin-left: -2rem; } }

.review {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
  width: 100%; }
  .review__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
    text-indent: 2.5rem; }
  .review__user {
    display: flex;
    align-items: center; }
    .review__user-box {
      margin-right: auto;
      margin-left: 1.5rem; }
    .review__user-name {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.4rem; }
    .review__user-date {
      font-size: 1rem;
      color: #999; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50rem; }
  .review__rating {
    color: #eb2f64;
    font-size: 2.2rem;
    font-weight: 300; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.5rem;
    left: -1rem;
    font-size: 20rem;
    line-height: 1;
    color: #f4f2f2;
    font-family: sans-serif;
    z-index: 1; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem; }
  @media only screen and (max-width: 37.5em) {
    .header {
      flex-wrap: wrap;
      height: auto;
      padding: 2rem; } }

.logo {
  height: 3.25rem;
  margin-left: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .logo {
      margin-left: 1.5rem; } }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    .search {
      flex: 0 0 100%;
      order: 1;
      margin-top: 2rem;
      justify-content: left; } }
  .search:focus-within .search__input {
    width: 100%;
    background-color: #f0eeee; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    outline: none;
    color: inherit;
    padding: 1rem 2rem;
    border-radius: 50rem;
    width: 90%;
    transition: all ease-in 0.2s;
    margin-right: -3.5rem; }
    @media only screen and (max-width: 37.5em) {
      .search__input {
        margin-right: 0;
        width: 100%; } }
    .search__input::placeholder {
      color: #ccc;
      font-weight: 100; }
    .search__input:focus {
      background-color: #f0eeee; }
  .search__button {
    border: none;
    background-color: transparent;
    transition: all ease-in 0.08s;
    cursor: pointer;
    height: 2rem;
    width: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .search__button {
        margin-left: -3.5rem; } }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(0.2rem); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999; }

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .user-nav > * {
    cursor: pointer;
    margin: 0 2rem;
    z-index: 1;
    position: relative; }
    .user-nav > *::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      height: 0rem;
      width: 0rem;
      border-radius: 50rem;
      background: radial-gradient(rgba(250, 249, 249, 0.5), rgba(204, 204, 204, 0.5));
      transition: all 0.1s;
      z-index: -1; }
    .user-nav > *:hover::after {
      height: 5rem;
      min-width: 5rem;
      width: 150%; }
  .user-nav__icon-box {
    height: 1.5rem; }
    .user-nav__icon-box::before {
      content: attr(data-count);
      position: absolute;
      top: -1rem;
      right: -1rem;
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50rem;
      background-color: #eb2f64;
      color: #fff; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem; }
  .user-nav__user {
    display: flex;
    margin-right: 4rem; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50rem; }
  .user-nav__user-name {
    align-self: center;
    margin-left: 1rem; }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.4rem;
  list-style: none;
  padding: 3.5rem 0;
  background-color: #333;
  flex: 0 0 25rem; }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      flex: 0;
      padding: 0; } }
  .sidebar .side-nav {
    color: #faf9f9;
    list-style: none; }
    @media only screen and (max-width: 56.25em) {
      .sidebar .side-nav {
        display: flex; } }
    @media only screen and (max-width: 37.5em) {
      .sidebar .side-nav {
        flex-wrap: wrap; } }
    .sidebar .side-nav__item {
      padding: 2rem 0rem;
      width: 100%;
      position: relative; }
      @media only screen and (max-width: 56.25em) {
        .sidebar .side-nav__item {
          flex: 1;
          padding: 0rem; } }
      @media only screen and (max-width: 37.5em) {
        .sidebar .side-nav__item {
          flex: 0 0 50%; } }
      .sidebar .side-nav__item:not(:last-child) {
        margin-bottom: 0.5rem; }
        @media only screen and (max-width: 56.25em) {
          .sidebar .side-nav__item:not(:last-child) {
            margin-bottom: 0; } }
      .sidebar .side-nav__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0.3rem;
        background-color: #eb2f64;
        transform: scaleY(0);
        transition: transform 0.1s 0.2s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s;
        transform-origin: center; }
      .sidebar .side-nav__item:hover:before {
        width: 100%;
        transform: scaleY(1);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
      .sidebar .side-nav__item:active::before {
        background-color: #ff3366; }
    .sidebar .side-nav__link:visited, .sidebar .side-nav__link:link {
      display: flex;
      align-items: center;
      color: inherit;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.5rem 3rem;
      z-index: 1;
      position: relative; }
    .sidebar .side-nav__icon {
      width: 1.75rem;
      height: 1.75rem;
      fill: currentColor;
      margin-right: 2rem; }
  .sidebar .legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: #ccc; }
    @media only screen and (max-width: 56.25em) {
      .sidebar .legal {
        display: none; } }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #f4f2f2;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;
  border-radius: 1rem;
  overflow: hidden; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      border-radius: 0rem; } }
  @media only screen and (min-width: 112.5em) {
    .container {
      max-width: 140rem; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.hotel-view {
  background-color: #fff;
  flex: 4 1 80%; }

.detail {
  display: flex;
  background: #faf9f9;
  padding: 4.5rem;
  border-bottom: 1px solid #f4f2f2;
  font-size: 1.4rem; }
  @media only screen and (max-width: 75em) {
    .detail {
      padding: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      flex-direction: column; } }
  .detail__description {
    background-color: #fff;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    padding: 3rem; }
    @media only screen and (max-width: 75em) {
      .detail__description {
        margin-right: 2.5rem;
        padding: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .detail__description {
        margin-right: 0rem;
        margin-bottom: 3.5rem; } }
  .detail__user-reviews {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    flex: 1; }

.user-reviews {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column; }

.cta {
  padding: 3.5rem;
  text-align: center; }
  .cta__book-now {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2.5rem; }
