// Colors
$primary-light: #ff3366;
$primary: #eb2f64;
$primary-dark: #ba265d;

// $secondary-light: #ffb980;
// $secondary: #ff7730;

// $tertiary-light: #2998ff;
// $tertiary: #5643fa;

$white: #fff;
$light-gray-1: #faf9f9;
$light-gray-2: #f4f2f2;
$light-gray-3: #f0eeee;
$light-gray-4: #ccc;

$dark-gray-1: #333;
$dark-gray-2: #777;
$dark-gray-3: #999;

$black: #000000;

// Shadows

$default-shadow: 0 2rem 6rem rgba($black, .3);

//Font sizes
$default-font-size: 1.6rem;

//Break points
$small-width: 37.5em; //600px
$medium-width: 56.25em; //900px
$large-width: 75em; //1200px
$huge-width: 112.5em; //1800px
