@keyframes pulsate {
  0% {
    transform: scale(1);
    text-shadow: none;
  }
  50% {
    transform: scale(1.1);
    text-shadow: $small-box-shadow;
  }
  100% {
    transform: scale(1);
    text-shadow: none;
  }
}
